﻿
@{
    ViewData["Title"] = "Home";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AFK Tracker</title>
</head>
<body>
    <h1>Welcome to the AFK Tracker</h1>
    <h3>Your go to tool for keeping your friends accountable.</h3>
</body>
</html>

