﻿@model AFKTracker.Models.Vote; 
@{
    ViewData["Title"] = "VotingScreen";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Betting pool</title>
</head>
<body>
    <h1>How late do we think oscar will be today?</h1>
    <label asp-for="Time">How many minutes late will it be?</label>
    <input asp-for="Time" />

</body>
</html>
